In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('sensordata/home47_hall654_sensor1216c1220_electric-mains_electric-combined.csv.gz', compression='gzip', index_col=0, parse_dates=True, names = ['date', 'mains_electric'])

In [1]:
import os

In [9]:
done_list = []

In [10]:

directory = '/Users/barry/CodeAcademy/Ideal_dataset/updated_hourly_csv'

for filename in os.listdir(directory):
    if filename[-4:] == '.csv':
        done_list.append(int(filename[7:-4]))

In [11]:
print(done_list)

[209, 221, 157, 143, 194, 180, 181, 195, 156, 208, 222, 168, 140, 154, 183, 197, 182, 155, 141, 169, 227, 145, 151, 179, 186, 192, 193, 187, 178, 150, 144, 218, 152, 146, 191, 185, 184, 190, 147, 153, 219, 231, 225, 242, 75, 61, 134, 120, 121, 135, 109, 74, 255, 89, 62, 76, 123, 137, 136, 122, 77, 63, 88, 268, 98, 67, 73, 126, 133, 72, 66, 99, 70, 64, 125, 119, 118, 124, 59, 65, 71, 263, 97, 83, 68, 129, 115, 101, 100, 114, 128, 69, 82, 96, 276, 262, 328, 80, 94, 102, 116, 117, 81, 249, 259, 85, 91, 311, 107, 113, 106, 47, 90, 84, 264, 266, 92, 86, 79, 110, 138, 139, 105, 78, 93, 228, 200, 214, 176, 162, 189, 188, 163, 177, 215, 201, 203, 149, 161, 175, 174, 160, 148, 202, 216, 212, 206, 164, 170, 158, 159, 171, 165, 207, 213, 205, 211, 173, 167, 199, 166, 238, 210]

In [1]:
listylist = [61,
 62,
 63,
 65,
 73,
 90,
 96,
 106,
 105,
 136,
 128,
 139,
 140,
 145,
 146,
 168,
 169,
 171,
 162,
 175,
 208,
 212,
 225,
 228,
 227,
 231,
 238,
 242,
 249,
 255,
 262,
 264,
 263,
 266,
 268,
 259,
 276,
 311,
 328]

In [3]:
listylist = [str(i) for i in listylist]

In [4]:
print(listylist)

['61', '62', '63', '65', '73', '90', '96', '106', '105', '136', '128', '139', '140', '145', '146', '168', '169', '171', '162', '175', '208', '212', '225', '228', '227', '231', '238', '242', '249', '255', '262', '264', '263', '266', '268', '259', '276', '311', '328']

In [14]:
display(df.head())
display(df.colum)

                     mains_electric
date
2016-08-10 10:15:27               0
2016-08-10 10:15:28             269
2016-08-10 10:15:33             108
2016-08-10 10:15:34             274
2016-08-10 10:15:35             272

Index(['mains_electric'], dtype='object')

In [15]:
df= df.reset_index()

In [16]:
display(df.head())

                 date  mains_electric
0 2016-08-10 10:15:27               0
1 2016-08-10 10:15:28             269
2 2016-08-10 10:15:33             108
3 2016-08-10 10:15:34             274
4 2016-08-10 10:15:35             272