In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('sensordata/home47_hall654_sensor1216c1220_electric-mains_electric-combined.csv.gz', compression='gzip', index_col=0, parse_dates=True, names = ['date', 'mains_electric'])

In [1]:
listylist = [61,
 62,
 63,
 65,
 73,
 90,
 96,
 106,
 105,
 136,
 128,
 139,
 140,
 145,
 146,
 168,
 169,
 171,
 162,
 175,
 208,
 212,
 225,
 228,
 227,
 231,
 238,
 242,
 249,
 255,
 262,
 264,
 263,
 266,
 268,
 259,
 276,
 311,
 328]

In [3]:
listylist = [str(i) for i in listylist]

In [4]:
print(listylist)

['61', '62', '63', '65', '73', '90', '96', '106', '105', '136', '128', '139', '140', '145', '146', '168', '169', '171', '162', '175', '208', '212', '225', '228', '227', '231', '238', '242', '249', '255', '262', '264', '263', '266', '268', '259', '276', '311', '328']

In [14]:
display(df.head())
display(df.colum)

                     mains_electric
date
2016-08-10 10:15:27               0
2016-08-10 10:15:28             269
2016-08-10 10:15:33             108
2016-08-10 10:15:34             274
2016-08-10 10:15:35             272

Index(['mains_electric'], dtype='object')

In [15]:
df= df.reset_index()

In [16]:
display(df.head())

                 date  mains_electric
0 2016-08-10 10:15:27               0
1 2016-08-10 10:15:28             269
2 2016-08-10 10:15:33             108
3 2016-08-10 10:15:34             274
4 2016-08-10 10:15:35             272